@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

footer {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}


/* Media query for mobile screens */
@media (max-width: 768px) {
  footer {
    margin: 0 !important;
    padding: 0 !important;
  }

  nav {
    margin: 0 !important;
    padding: 0 !important;
  }
}